/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #50C7C7;
  .fill {
    background-img: url('http://source.upsplash.com/random/150x150');
    position: relative;
    height: 150px;
    width:150px;
    top: 5px;
    left: 5px;
    cursor: pointer;

}}

h1 {
  font-style: italic;
  color: #373fff;
}

.container1 {
    width: 100%;
    float: left;
    border: solid 1px #50C7C7;
    text-align: center;
}
.container2 {
    width: 100%;
    float: left;
    border: solid 1px #50C7C7;
    text-align: center;
}
.container button{
    display: inline-block;
}

#play {
  background-color: lightblue;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 35px;
}

#rule {
  background-color: lightblue;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 35px;
}

.empty {
  display: inline-block;
  height: 160px;
  width: 160px;
  margin: 10px;
  border: 3px;
  background-color: black;
}
